html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  .hero.is-info {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
  }
  /* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */
  
  p {
    font-size: 40px;
}
p.thick {
    font-weight: bold;
}

.social-media .button:not(:last-child) {
  margin-right: 10px; /* Sesuaikan margin sesuai keinginan Anda */
}

.card .card-image .image.is-4by3 {
  display: block;
  margin: 0 auto; /* Ini akan memusatkan gambar secara horizontal */
  max-width: 220px;
}

image is-pulled-left is-6by4 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}